html {
  font-family: helvetica, Arial, sans-serif;
  font-size: 16px;
}

body {
  font-size: 1em;
  line-height: 1.5em;
  background: #f0f0f0;
  color: #222222;
}

/* Flexbox layout */
.Container {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  align-items: center;
}

.Container-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.5em;
}

/* Navbar Section */
h1 {
  font-family: 'Oswald', Arial Narrow, Arial, Helvetica, sans-serif;
  font-size: 2em;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.Container-nav {
  margin-top: 1em;
}

.Container-nav-link {
  display: inline-block;
  margin-bottom: 0.5em;
  padding: 0.25em;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.Container-nav-link:hover,
.Container-nav-link:focus {
  background: #eee
}

/* Content Section */
h2 {
  margin-bottom: 0;
}
article img {
  width: 100%;
  height: auto;
}

blockquote {
  font-style: italic;
  margin: 0.25em 0;
  padding: 0.25em 40px;
  line-height: 1.45;
  position: relative;
  color: #383838;
}

blockquote:before {
  display: block;
  content: "\201C";
  font-size: 5em;
  position: absolute;
  left: -10px;
  top: -20px;
  color: #7a7a7a;
}

pre {
  font-size: .75em;
}

p > code {
  font-size: .8em;
  background: #002451;
  color: white;
  border: 1px solid #002451;
  border-radius: 3px;
  vertical-align: bottom;
  padding: 1px;
}

blockquote > p > code {
  vertical-align: text-bottom;
  padding-right: 2px;
}

/* Formatting the comments and tags sections */
aside {
  font-size: 0.9em;
  overflow: auto;
  width: 100%;
}

.Aside-tags {
  float: left;
}

.Aside-comments {
  float: right;
}

.Comments {
  margin-top: 1em;
}

/* Selection/Link styles */
::-moz-selection {
  background: #005a5a;
  color: #ffffff;
  text-shadow: none;
}

::selection {
  background: #005a5a;
  color: #ffffff;
  text-shadow: none;
}

a:link,
a:visited,
.divlink:link,
.divlink:visited {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #005a5a;
  text-decoration: none;
}

.Content a:link,
.Content a:visited {
  text-decoration: underline;
}

a:hover,
a:focus,
.divlink:hover,
.divlink:focus {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #002d2d;
}

/* Styles for larger screens */
@media (min-width: 35em) {
  .Container-body {
    flex-direction: row;
    flex: 1;
    justify-content: center;
    /* stupid IE10 tweener syntax */
    -ms-flex-preferred-size: auto;
    align-items: strech;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .Container-header {
    width: 10em;
    padding-right: 2em;
  }

  .Container-title {
    word-spacing: 15em;
    line-height: 1.5em;
  }

  .Container-content {
    flex: 1;
    padding: 0 1.5em;
    min-width: 10em;
    max-width: 40em;
  }
}

/* Override Moot styles and hide button in corner */
.moot > a {
  visibility: hidden;
}

.m-list {
  background: #ddd;
  padding: 0.5em;
  border-radius: 5px;
}

.m-form {
  background: #bbb;
  border-radius: 5px;
}