html,
button,
input,
select,
textarea {
  color: #222;
}

html {
  font-family: helvetica;
  font-size: 1em;
  line-height: 1.4;
}

/*
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Mono|Alegreya+SC|Alegreya:400italic,400,700|Oswald"> <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Mono|Alegreya+SC|Alegreya:400italic,400,700|Oswald">

font-family: 'PT Mono', Courier, "Nimbus Mono L", monospace;
font-family: 'Alegreya SC', serif;
font-family: 'Oswald', Arial Narrow, Arial, Helvetica, sans-serif;
*/

article img {
  width: 100%;
  height: auto;
}

.Container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.Container-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 1.5em;
}

.Container-header {
  font-family: 'Oswald', Arial Narrow, Arial, Helvetica, sans-serif;
  font-size: 2em;
  text-align: center;
}

.Container-header a {
  color: inherit;
  text-decoration: none;
}

.Container-nav {
  padding: 1rem;
}

.Container-nav ul,
.Container-nav ul > li {
  list-style: none;
  list-style-type: none;
  padding-left: 0;
}

.Container-nav div,
.Container-nav ul > li {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 3px;
  background: #000;
  color: #fff;
}

@media (min-width: 35em) {
  .Container-body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    /* stupid IE10 tweener syntax */
    -ms-flex-preferred-size: auto;
    -webkit-box-align: strech;
    -webkit-align-items: strech;
    -ms-flex-align: strech;
    align-items: strech;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .Container-content {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 1.5rem;
    min-width: 20rem;
    max-width: 35rem;
  }

  .Container-header {
    width: 5em;
    min-width: 5em;
    word-spacing: 5em;
  }

  .Container-nav {
    width: 10rem;
    min-width: 10rem;
  }
}