<!DOCTYPE html>
<html>
<head>
  <title>{{ .site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <!-- <base href="{{ .site.baseurl }}"> -->
  {{ if .page.permalink }}<link rel="canonical" href="{{ .site.baseurl }}/{{ .page.permalink }}">{{ end }}
  {{ if .site.RSSlink }}<link href="{{ .site.RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .site.title }}" />{{ end }}
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" />
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600" />
  <link rel="stylesheet" href="/css/blog.css">
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <div class="container"></div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 panel panel-default">
        <h1 class="margin-base-vertical">{{ .site.title }}</h1>
        <p>
          {{ .content }}
        </p>
      </div>
    </div>
    <footer class="bs-footer" role="contentinfo">
      <div class="container"><a href="#top">Back to top</a>
        <p>&copy; 2013 <a href="http://gunnaraasen.com">Gunnar Aasen.</a><br>
        Website created using a <a href="https://github.com/gunnaraasen/jkl" target="_blank">modified</a> version of <a href="https://github.com/drone/jkl" target="_blank">jkl</a> static site generator and hosted on <a href="http://pages.github.com/" target="_blank">Github Pages</a>.<br></p>
        <ul class="footer-links">
          <li><a href="http://turtlesdown.me" target="_blank">Blog</a></li>
          <li class="muted">&middot;</li>
          <li><a href="https://twitter.com/gunnaraasen" target="_blank">Twitter</a></li>
          <li class="muted">&middot;</li>
          <li><a href="http://www.linkedin.com/pub/gunnar-aasen/7/6a0/174" target="_blank">LinkedIn</a></li>
        </ul>
      </div>
    </footer>
  </div>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-43775951-2', 'turtlesdown.me');
    ga('send', 'pageview');
  </script>
</body>
</html>